@font-face {
    font-family: WorkSans;
    src: url(WorkSans-Black.ttf);
}

#gradient {
    display:block;
}

#chaser {
    display:none;
}

#colorpreview1 {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgb(0,0,0);
    left: 5px;
    top: 5px;
    vertical-align:middle;
}

#colorpreview2 {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgb(180,180,180);
    left: 5px;
    top: 5px;
    vertical-align:middle;
}

#colorpreview3 {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgb(0,0,0);
    left: 5px;
    top: 5px;
    vertical-align:middle;
}

#stepsRange{
    vertical-align: middle;
    margin-top: 5px;
}
#delayRange {
    vertical-align: middle;
    
}

span {
    vertical-align: middle;
}
button {
    vertical-align: middle;
}
input {
    vertical-align: middle;
    margin-top: 5px;
}

#devmode {
    font-size: 80%;
}

#devmodehidden {
    display: none;
}